body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFF;
}


@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}

.black{
  background-color: #333;
}