@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/leaguegothic-regular-variablefont_wdth-webfont.woff2') format('woff2'),
       url('../fonts/leaguegothic-regular-variablefont_wdth-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFF;
  padding-top: 55px;
  
}



.black{
  background-color: #333;
}



.nMessage{
  color:red;
  font-weight: bold;
}



.eTitle{
  font-family: 'league_gothicregular';
  font-size:7rem;

}

.league{
  font-family: 'league_gothicregular';
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}



.darker:hover{
  opacity: 0.9;
}


.nav-padding{
  padding-left:10px;
  padding-right:10px;

}

.topImg {
  background-size: cover;
  min-height: 40vh;
  position:relative;
  color:white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);

}

.txt-overlay{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.3);

}

.seat{
  border-color:white;

}

.playTitle{
  font-size: 1.9rem;
}

.ticket{
  font-size: 1.9rem;
}

.phoneWarning{
  display:none;
}

/*md*/ 
@media (max-width:768px){
  .topImg{
    min-height: 20vh;
  }
  .eTitle{
    font-size: calc(2.52rem + 3.3vw);
  }

}


/*sm*/ 
@media (max-width:576px){
  .selector{
    display:none;
  }
  .seat{
    font-size:0.66rem;
  }
  .accTxt{
    font-size:0.70rem;
  }
  .reportTable{
    display:none;
  }
  .phoneWarning{
    display:block;
  }
}

@media print {
  div {
    break-inside: avoid;
  }

  
}